<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <h1>Full Menu</h1>

    <ul>
        <% menu.forEach((item) => { %>
            <li>Name: <%= item.name %>
            </br>Price: <%= item.price %>
            </br>Rating: <%= item.rating %>
            </br>Details: <%= item.details %>
            </br>Category: <%= item.category[0].toUpperCase() + item.category.slice(1) %>
            </li>
        </br>
        <% }); %>
    </ul>


</body>
</html>